// Similar styling to .Hero

.AllinOneAccessibility {
    background: var(--hero-bg);
    text-align: center;
    color: var(--hero-color);

    .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.AllinOneAccessibility-close {
    float: right;
    margin-top: -10px;
    color: inherit;
    opacity: 0.5;
}

.custom-logo {
    max-width: 200px;
    margin: 20px auto;
    display: block;
    /* Add any other styles you need */
}

